body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  text-align: center;
  margin: 0;
}

h1 {
  margin: 20px;
  color: #facc15;
}

.card {
  background: rgba(255,255,255,0.05);
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

input, select {
  width: 90%;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #facc15;
  border: none;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #eab308;
}

.acciones {
  margin-bottom: 30px;
}